section#about
  div
    h1 Open-source deserves recognition
    p Many developers spend their much deserved spare time doing open-source software development. Yet, most of these generous individuals do not get the recognition they deserve. Mankind Organization is here to change the world of open-source by awarding contributors and promoting further development of wonderful software projects around the world.
 
