@import url(http://fonts.googleapis.com/css?family=Brawler|Open+Sans:300)

$green: #59A80F
$sans: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
$serif: Brawler, Cambria, Georgia, 'Times New Roman'

body
  background: url('/images/background.png')
  font-family: $serif
  font-size: 16px
  font-weight: 400
  line-height: 1.5em
  margin: 0
  padding: 0

section
  background: rgba(255, 255, 255, 0.5)
  border-bottom: 3px solid #eee
  border-top: 3px solid #eee
  margin: 5em 0
  
  div
    margin: 0 auto
    position: relative
    width: 800px
    padding: 3em

  h1
    text-align: right
    color: #FF0F95
  
  h2
    color: #000
    font-size: 2em
    text-align: right

    span
      font-size: 0.7em
      margin: 0 0.5em

a
  color: $green
a:hover
  color: #000

p
  margin: 0 10em 0 0

h1, h2, h3, h4, h5, h6
  font-family: $sans
  font-weight: 300
  margin: 0 0 1em
  text-shadow: 1px 1px 3px #ddd

h1
  font-size: 2.6em
  text-align: center

header
  padding: 6em 0 0

  h1
    font-size: 5em

nav
  margin: 0 auto
  padding: 0
  text-align: center
  position: relative
  z-index: 99999
  width: 66em
  background: rgba(89, 168, 15, 0.75)

  ul
    padding: 0
    margin: 0
    display: inline-block
    list-style-type: none
    list-style-positin: outside
    text-align: center
    overflow: hidden

    li
      display: inline-block
      vertical-align: top

      a
        display: block
        font-family: $sans
        letter-spacing: 0.1em
        padding: 16px 40px
        color: #fff
        text-decoration: none
        -o-transition: background 0.1s ease-in-out
        -moz-transition: background 0.1 ease-in-out
        -webkit-transition: background 0.1s ease-in-out
        transition: background 0.1s ease-in-out
        text-shadow: 1px 1px 0 #999
      a:hover
        color: #fff
        padding: 18px 40px 14px
        text-shadow: 1px 1px 0 #777
  
  ul::before,
  ul::after
    content: ""
    position: absolute
    display: block
    border-style: solid
    border-color: rgba(89, 168, 15, 1) transparent transparent transparent
    bottom: -1em
    z-index: 99999

  ul::before
    left: 0
    border-width: 1em 0 0 1em
          
  ul::after 
    right: 0
    border-width: 1em 1em 0 0px

/**
 * @forms
 */
input[type="text"],
textarea
  padding: 5px 10px
  border-radius: 3px
  border: 1px solid #eee
  box-shadow: inset 1px 1px 0px #ddd
  font-family: $serif
  font-size: 1em
  text-align: center

input[type="submit"],
input[type="button"]
  background: #eee
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#eee))
  background: -moz-linear-gradient(top, #fff, #eee)
  border: 1px solid #ddd
  border-radius: 3px
  box-shadow: 1px 1px 3px #eee
  display: inline-block
  text-align: center
  font-family: $sans
  text-decoration: none
  padding: 4px 25px
  margin: 0 0 0.5em
  font-size: 1em

input[type="submit"]:hover,
input[type="button"]:hover
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#f9f9f9))
  background: -moz-linear-gradient(top, #f6f6f6, #f9f9f9)

/**
 * @contributors
 */

#contributors
  h1
    text-align: center
    margin: 0 0 1.5em
  
  ul,
  article
    display: inline-block
    margin: 0
    padding: 0
    vertical-align: top

  ul
    width: 60%
    list-style-type: none
    list-style-position: outside

  article
    text-align: center
    width: 40%
    background: #f0f0f0
    border-radius: 3px
    box-shadow: 1px 1px 0 #ddd

    h1
      color: #000
      font-size: 1.8em
      text-align: center
      margin: 0.5em 0.5em 1em

    p
      margin: 0.5em
      padding: 0

    div
      margin: 0 0 1em
      padding: 0
      width: 100%
      
      span
        font-size: 2em
        margin: 0

    a
      background: #eee
      background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#eee))
      background: -moz-linear-gradient(top, #fff, #eee)
      border: 1px solid #ddd
      border-radius: 3px
      box-shadow: 1px 1px 3px #eee
      display: block
      text-align: center
      font-family: $sans
      text-decoration: none
      padding: 0.3em 0
      margin: 0 0 0.5em
      font-size: 0.8em
    a:hover
      background: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#f9f9f9))
      background: -moz-linear-gradient(top, #f6f6f6, #f9f9f9)

  span
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
    margin-left: 0.5em
    font-size: 0.8em

/**
 * @credit
 */

#credit
  text-align: center

  h1
    text-align: center

  input,
  label
    margin: 0 5px

/**
 * @award
 */

#award
  input,
  label
    margin: 0 5px

  form
    text-align: center

/**
 * @donors
 */

#donations
  h1,
  h2
    text-align: center

  ul
    text-align: center
    list-style-position: outside
    list-style-type: none
    margin: 0
    padding: 0

    li
      margin: 0
      padding: 0

footer
  position: absolute
  bottom: 0
  right: 0
  padding: 0.75em 1em
  font-size: 0.8em
